<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" href="../static/scripting.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <h3>Welcome to workspace</h3>
        <button id="viewqrDB" class="btn btn-primary">View client information</button>
        <div id="responseContainer"></div>
        <div><p>Don't forget change credentials for connection to DB</p></div>
        <script src="../static/scripts/bola.js"></script>
    </div>
    <div class="container mt-5">
        <a href="/idor" class="btn btn-secondary">Назад</a></p>
    </div>

</body>

</html>