<!DOCTYPE html>
<html>
<head>
    <title>FVA</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="icon" href="static/scripting.png" type="image/x-icon">
</head>
<body>
    <div class="container mt-5">
        <h3>Flask Vulnerable Application</h3>
        <a href="/xss" class="btn btn-primary">XXS stored</a></p>
        <a href="/path_travers" class="btn btn-primary">Path Traversal</a></p>
        <a href="/ssti" class="btn btn-primary">SSTI</a></p>
        <a href="/upload" class="btn btn-primary">Upload</a></p>
        <a href="/execute" class="btn btn-primary">Command injection</a></p>
        <a href="/csrf" class="btn btn-primary">CSRF</a></p>
            <br>
        <a href="/logout" class="btn btn-secondary">Выйти из сессии</a></p>
    </div>
</body>
</html>