<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="icon" href="static/scripting.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <h1>What is IDOR and what is BOLA? 0_o</h1>
        <button type="button" onclick="location.href='idor/main'" class="btn btn-primary"> IDOR Example</button>
        <button type="button" onclick="location.href='idor/bola'" class="btn btn-primary"> BOLA Example</button><br>
    </div>
    <div class="container mt-5">
        <a href="/" class="btn btn-secondary">Назад</a></p>
    </div>
</body>
</html>
