<!DOCTYPE html>
<html>
<head>
    <title>XSS lab</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="icon" href="static/scripting.png" type="image/x-icon">
</head>
<body>
    <div class="container mt-5">
        <h3>XSS labs</h3>
        <a href="/xss/reflected" class="btn btn-primary">XXS reflected</a></p>
        <a href="/xss/dom1" class="btn btn-primary">XXS DOM. Task 1</a></p>
        <a href="/xss/dom2" class="btn btn-primary">XXS DOM. Task 2</a></p>
    </div>
</body>
</html>